### Nama: Risky Kurniawan
### NIM: 2009106050
## Posttest 2

Import Pandas & NumPy

In [146]:
import pandas as pd
import numpy as np

#### Ketentuan 1: 

Informasi yang didapatkan adalah 
 - jumlah record,
 - nama attribute, 
 - jumlah attribute dengan tipe objek, 
 - jumlah attribute dengan tipe angka, 
 - jumlah attribute yang memiliki nilai null.

Read csv. disini saya menggunakan dataset employee_data

In [147]:
df = pd.read_csv('employee_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14249 entries, 0 to 14248
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_monthly_hrs    14249 non-null  int64
 1   department         13540 non-null  object
 2   filed_complaint    2058 non-null   float64
 3   last_evaluation    12717 non-null  float64
 4   n_projects         14249 non-null  int64
 5   recently_promoted  300 non-null    float64
 6   salary             14249 non-null  object
 7   satisfaction       14068 non-null  float64
 8   status             14249 non-null  object
 9   tenure             14068 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.1+ MB

#### Ketentuan 2: 

- Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. 
- Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [148]:
# init
countRecord = len(df.index)
listAttributes = list(df.columns)
countDataAttributeObj = 0
countDataAttributeInt = 0
countDataAttributeWithNull = 0

# loop mencari atribut mengandung null
for item in list(df.isnull().any()):
  if(item == True):
    countDataAttributeWithNull+=1

# loop mencari atribut tipe angka atau objek
for item in df.dtypes:
  if (item == 'object'):
    countDataAttributeObj+=1
  elif (item == 'int64' or item == 'float64'):
    countDataAttributeInt+=1

In [149]:
# dictionary
dataAttr = {
  'jumlah_record': countRecord,
  'nama_attribute': listAttributes,
  'attribute_objek': countDataAttributeObj,
  'attribute_angka': countDataAttributeInt,
  'attribute_mengandung_null': countDataAttributeWithNull
}

print("{")
print(" Jumlah Record: {data}".format(
  data = dataAttr["jumlah_record"]
))
print(" Nama Attribute: {data}".format(
  data = dataAttr["nama_attribute"]
))
print(" Attribute object: {data}".format(
  data = dataAttr["attribute_objek"]
))
print(" Attribute Angka: {data}".format(
  data = dataAttr["attribute_angka"]
))
print(" Attribute mengandung null: {data}".format(
  data = dataAttr["attribute_mengandung_null"]
))
print("}")

{
  Jumlah Record: 14249
  Nama Attribute: ['avg_monthly_hrs', 'department', 'filed_complaint', 'last_evaluation', 'n_projects', 'recently_promoted', 'salary', 'satisfaction', 'status', 'tenure']
  Attribute object: 3
  Attribute Angka: 7
  Attribute mengandung null: 6
}

#### Ketentuan 3: 

Tampilkan 
 - rata-rata, 
 - standar deviasi, 
 - nilai minimum, 
 - nilai maksimum, 
 - Q1, Q2, dan Q3 dari attribute bertipe angka.

In [150]:
#Inisialisasi
avg_monthly_hrs = df['avg_monthly_hrs']
filed_complaint = df['filed_complaint']
n_projects = df['n_projects']
recently_promoted = df['recently_promoted']
last_evaluation = df['last_evaluation']
satisfaction = df['satisfaction']
tenure = df['tenure']

 - avg_monthly_hrs

In [151]:
print("Mean: {mean}".format(
  mean = np.mean(avg_monthly_hrs)
))
print("Min: {min}".format(
  min = np.min(avg_monthly_hrs)
))
print("Max: {max}".format(
  max = np.max(avg_monthly_hrs)
))
print("Standar Deviasi: {std}".format(
  std = df.std(ddof=0, numeric_only=True)['avg_monthly_hrs']
))
print("Q1: {q1}".format(
  q1 = df.quantile(0.25, numeric_only=True)['avg_monthly_hrs']
))
print("Q2: {q2}".format(
  q2 = df.quantile(0.5, numeric_only=True)['avg_monthly_hrs']
))
print("Q3: {q3}".format(
  q3 = df.quantile(0.75, numeric_only=True)['avg_monthly_hrs']
))

Mean: 199.79577514211525
Min: 49
Max: 310
Standar Deviasi: 50.99692484158949
Q1: 155.0
Q2: 199.0
Q3: 245.0

 - filed_complaint

In [152]:
print("Mean: {mean}".format(
  mean = np.mean(filed_complaint)
))
print("Min: {min}".format(
  min = np.min(filed_complaint)
))
print("Max: {max}".format(
  max = np.max(filed_complaint)
))
print("Standar Deviasi: {std}".format(
  std = df.std(ddof=0, numeric_only=True)['filed_complaint']
))
print("Q1: {q1}".format(
  q1 = df.quantile(0.25, numeric_only=True)['filed_complaint']
))
print("Q2: {q2}".format(
  q2 = df.quantile(0.5, numeric_only=True)['filed_complaint']
))
print("Q3: {q3}".format(
  q3 = df.quantile(0.75, numeric_only=True)['filed_complaint']
))

Mean: 1.0
Min: 1.0
Max: 1.0
Standar Deviasi: 0.0
Q1: 1.0
Q2: 1.0
Q3: 1.0

 - n_projects

In [153]:
print("Mean: {mean}".format(
  mean = np.mean(n_projects)
))
print("Min: {min}".format(
  min = np.min(n_projects)
))
print("Max: {max}".format(
  max = np.max(n_projects)
))
print("Standar Deviasi: {std}".format(
  std = df.std(ddof=0, numeric_only=True)['n_projects']
))
print("Q1: {q1}".format(
  q1 = df.quantile(0.25, numeric_only=True)['n_projects']
))
print("Q2: {q2}".format(
  q2 = df.quantile(0.5, numeric_only=True)['n_projects']
))
print("Q3: {q3}".format(
  q3 = df.quantile(0.75, numeric_only=True)['n_projects']
))

Mean: 3.7738086883290056
Min: 1
Max: 7
Standar Deviasi: 1.2530819722815814
Q1: 3.0
Q2: 4.0
Q3: 5.0

 - recently_promoted

In [154]:
print("Mean: {mean}".format(
  mean = np.mean(recently_promoted)
))
print("Min: {min}".format(
  min = np.min(recently_promoted)
))
print("Max: {max}".format(
  max = np.max(recently_promoted)
))
print("Standar Deviasi: {std}".format(
  std = df.std(ddof=0, numeric_only=True)['recently_promoted']
))
print("Q1: {q1}".format(
  q1 = df.quantile(0.25, numeric_only=True)['recently_promoted']
))
print("Q2: {q2}".format(
  q2 = df.quantile(0.5, numeric_only=True)['recently_promoted']
))
print("Q3: {q3}".format(
  q3 = df.quantile(0.75, numeric_only=True)['recently_promoted']
))

Mean: 1.0
Min: 1.0
Max: 1.0
Standar Deviasi: 0.0
Q1: 1.0
Q2: 1.0
Q3: 1.0

 - last_evaluation

In [155]:
print("Mean: {mean}".format(
  mean = np.mean(last_evaluation)
))
print("Min: {min}".format(
  min = np.min(last_evaluation)
))
print("Max: {max}".format(
  max = np.max(last_evaluation)
))
print("Standar Deviasi: {std}".format(
  std = df.std(ddof=0, numeric_only=True)['last_evaluation']
))
print("Q1: {q1}".format(
  q1 = df.quantile(0.25, numeric_only=True)['last_evaluation']
))
print("Q2: {q2}".format(
  q2 = df.quantile(0.5, numeric_only=True)['last_evaluation']
))
print("Q3: {q3}".format(
  q3 = df.quantile(0.75, numeric_only=True)['last_evaluation']
))

Mean: 0.7184766791763917
Min: 0.316174622176
Max: 1.0
Standar Deviasi: 0.17305542859550138
Q1: 0.563866309748
Q2: 0.724938642065
Q3: 0.871358221099

 - satisfaction

In [156]:
print("Mean: {mean}".format(
  mean = np.mean(satisfaction)
))
print("Min: {min}".format(
  min = np.min(satisfaction)
))
print("Max: {max}".format(
  max = np.max(satisfaction)
))
print("Standar Deviasi: {std}".format(
  std = df.std(ddof=0, numeric_only=True)['satisfaction']
))
print("Q1: {q1}".format(
  q1 = df.quantile(0.25, numeric_only=True)['satisfaction']
))
print("Q2: {q2}".format(
  q2 = df.quantile(0.5, numeric_only=True)['satisfaction']
))
print("Q3: {q3}".format(
  q3 = df.quantile(0.75, numeric_only=True)['satisfaction']
))

Mean: 0.6212954351350499
Min: 0.040058411137
Max: 1.0
Standar Deviasi: 0.2504605277984238
Q1: 0.45039010756950004
Q2: 0.6525269176925
Q3: 0.82495099834975

 - tenure

In [157]:
print("Mean: {mean}".format(
  mean = np.mean(tenure)
))
print("Min: {min}".format(
  min = np.min(tenure)
))
print("Max: {max}".format(
  max = np.max(tenure)
))
print("Standar Deviasi: {std}".format(
  std = df.std(ddof=0, numeric_only=True)['tenure']
))
print("Q1: {q1}".format(
  q1 = df.quantile(0.25, numeric_only=True)['tenure']
))
print("Q2: {q2}".format(
  q2 = df.quantile(0.5, numeric_only=True)['tenure']
))
print("Q3: {q3}".format(
  q3 = df.quantile(0.75, numeric_only=True)['tenure']
))

Mean: 3.497227750924083
Min: 2.0
Max: 10.0
Standar Deviasi: 1.460864990313499
Q1: 3.0
Q2: 3.0
Q3: 4.0

#### Ketentuan 4: 

Tampilkan nilai korelasi attribute bertipe angka.

In [158]:
df.corr(numeric_only=True)

,avg_monthly_hrs,filed_complaint,last_evaluation,n_projects,recently_promoted,satisfaction,tenure
avg_monthly_hrs,1.000000,NaN,0.340136,0.443221,NaN,-0.019622,0.124954
filed_complaint,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_evaluation,0.340136,NaN,1.000000,0.345590,NaN,0.089189,0.132100
n_projects,0.443221,NaN,0.345590,1.000000,NaN,-0.143514,0.192653
recently_promoted,NaN,NaN,NaN,NaN,NaN,NaN,NaN
satisfaction,-0.019622,NaN,0.089189,-0.143514,NaN,1.000000,-0.097301
tenure,0.124954,NaN,0.132100,0.192653,NaN,-0.097301,1.000000

#### Ketentuan 5: 

Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [159]:
# mengubah n_projects menjadi desimal 3 angka dibelakang koma
df['n_projects'] = df['n_projects'].map('{:,.3f}'.format)
df

,avg_monthly_hrs,department,filed_complaint,last_evaluation,n_projects,recently_promoted,salary,satisfaction,status,tenure
0,221,engineering,NaN,0.932868,4.000,NaN,low,0.829896,Left,5.0
1,232,support,NaN,NaN,3.000,NaN,low,0.834544,Employed,2.0
2,184,sales,NaN,0.788830,3.000,NaN,medium,0.834988,Employed,3.0
3,206,sales,NaN,0.575688,4.000,NaN,low,0.424764,Employed,2.0
4,249,sales,NaN,0.845217,3.000,NaN,low,0.779043,Employed,3.0
...,...,...,...,...,...,...,...,...,...,...
14244,178,IT,NaN,0.735865,5.000,NaN,low,0.263282,Employed,5.0
14245,257,sales,NaN,0.638604,3.000,NaN,low,0.868209,Employed,2.0
14246,232,finance,1.0,0.847623,5.000,NaN,medium,0.898917,Left,5.0
14247,130,IT,NaN,0.757184,4.000,NaN,medium,0.641304,Employed,3.0
14248,159,NaN,NaN,0.578742,3.000,NaN,medium,0.808850,Employed,3.0

#### Ketentuan 6: 

Tampilkan 10 record pertama dari attribute bertipe angka.

In [160]:
df.head(10).filter(
  [
  'avg_monthly_hrs', 
  'filed_complaint', 
  'last_evaluation', 
  'n_projects', 
  'recently_promoted', 
  'satisfaction', 
  'tenure'
  ]
)

,avg_monthly_hrs,filed_complaint,last_evaluation,n_projects,recently_promoted,satisfaction,tenure
0,221,NaN,0.932868,4.000,NaN,0.829896,5.0
1,232,NaN,NaN,3.000,NaN,0.834544,2.0
2,184,NaN,0.788830,3.000,NaN,0.834988,3.0
3,206,NaN,0.575688,4.000,NaN,0.424764,2.0
4,249,NaN,0.845217,3.000,NaN,0.779043,3.0
5,140,NaN,0.589097,4.000,NaN,0.660020,4.0
6,121,1.0,0.625399,3.000,NaN,0.835571,3.0
7,150,NaN,0.644586,4.000,NaN,0.796683,3.0
8,215,1.0,0.524114,3.000,NaN,0.715005,7.0
9,269,NaN,0.909364,5.000,NaN,0.994037,2.0

#### Ketentuan 7:

Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [161]:
df.filter(
  [
  'avg_monthly_hrs', 
  'filed_complaint', 
  'last_evaluation', 
  'n_projects', 
  'recently_promoted', 
  'satisfaction', 
  'tenure'
  ]
).to_csv('employee_data_posttest2_result.csv', encoding='utf-8', index=False)